*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
    
}



.conteiner{
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 30px;

}

.conteiner h1{
    font-size: 22px;
    margin-top: 20px;
}

.conteiner p{
    flex-direction: column;
    display: flex;
    width: 60px;
    font-size: 11px;
    text-align: center;
}

.conteiner .card{
    box-sizing: border-box;
    width: 400px;
    margin: 20px;
    height: 490px;
    border-radius: 6px;
    overflow: hidden;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.6);
    cursor: default;
    transform: all 500ms ease;
    align-items: center;
}


.conteiner img{
    width: 310px;
    height: 210px;
    border-radius: 8px;
    margin-top: 10px;
    border: 1px solid black;

}

.conteiner .diets{
    float: left;
    margin: 15px 70px;
    width: 70px;

}


.conteiner .score{
    float: left;
    margin: 15px 70px;
    width: 70px;
}

.conteiner .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}