*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-attachment: fixed;
    margin: 0;
}


.modalHeader{
    float: right;
    width: 25px;
    border-radius: 5px;
    color: white;
    background-color: rgb(220, 89, 89);
    cursor: pointer;
    text-decoration: none;
    position: relative;
}

.modalHeader:hover{
    background-color: white;
    color: black;
}

.formulario{
    width: 650px;
    margin: auto;
    height: auto;
    background: rgba(0, 0, 0, 0.3);
    margin-top: 30px;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

.form-group h1{
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
   margin-left: 50px;
}


.form-control{
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 17px;
}

.form-group textarea{
    width: 100%;
}

.Addbutton{
    font-size: 17px;
    border-radius: 5px;
    padding: 5px;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    cursor: pointer;
}

.Addbutton:hover{
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    color:white;
    box-sizing: border-box;
}

.denger{
    color: red;
}