*,*:before,*:after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family:'Times New Roman', Times, serif;
    background-image:linear-gradient(to top, #e6e9f0b0 0%, #eef1f5d0 100%),url(../images/Landing\ page.jpg);
  
}
.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.divflex{
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    width: 800px;
    height: 100%;
    margin-top: 10px;
    border-radius: 10px;
}

.divflex h1{
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
   margin-left: 55px;
}

.divflex ul li{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center ;
    text-decoration: none;
    margin-top: 30px;


}

.divflex ul li .first{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center ;
    text-decoration: none;
 


}

.divflex ul li .span{
    font-size: 17;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.divflex ul li input{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 5px;
    width: 300px;
    border-radius: 10px;
    

}

.divflex ul li textarea{
    width: 400px;
    height: 100px;
    border-radius: 10px;
}

.close{
    float: right;
    margin: 15px 20px;
    padding: 5px 7px;
    border-radius: 5px;
    color: white;
    background-color: rgb(220, 89, 89);
    cursor: pointer;
    
}
.close:hover{
    background-color: white;
    color: black;
}

.Addbutton{
        display: inline-flex;
        width: auto;
        height: 40px;
        background-image: linear-gradient(to top, #e6d6ec 0%, #e2e9e1 100%);
        color: rgb(0, 0, 0);
        font-size: 15px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        text-transform: uppercase;
        border-radius: 10px;
        padding: 10px 7px;
        margin-top: 30px;
        margin-bottom: 30px;
        text-decoration: none;

}

.Addbutton:hover{
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

.danger{
    font-size: 17;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
}