*,*:before,*:after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family:'Times New Roman', Times, serif;
    background-image:linear-gradient(to top, #e6e9f0b0 0%, #eef1f5d0 100%),url(../images/Landing\ page.jpg);
    width: 100%;
    height: auto;
}


.footer {   
    display: static;
    width: 100%;
    bottom: 0         ;
    left: 0;
    right: 0;    
    z-index:3
  }


.recipeID{
      text-decoration: none;
      color: black;
      width: 30px;
      height: 20px;
     
  }

  .navbar .searchBar{
    width: 25%;
    margin: 0;
  }