*,*:before,*:after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family:'Times New Roman', Times, serif;
}

.navbar{
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    height: 75px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(0, 0, 0);
    box-shadow: 5px 0 10px rgba(0, 0, 0, .6) ;
}

.buttonHome{
    text-decoration: none;
}

.navbar-brand{
    color: black;
    font-size: 35px;
    padding: 0 30px;
    margin-bottom: 10px;
    font-weight: bold;
    list-style: none;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
}

.menu_items{
    display: flex;
    list-style: none;
    margin-left: 12%;
}

.menu_items li{
    border-radius: 3px;
    margin: 0 5px;
}

.nav-link-active{
    padding:  7px 10px;
    text-decoration: none;
    font-size: 18px;
    justify-content: center;
    display:block;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}


.nav-link-active:hover{
    background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
    transition: .10s;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius:5px ;
}

.title{
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 100;
    margin-bottom: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
